@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;700&display=swap');

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:  #f53b57;
  transition: all 500ms ease 0ms;
}
.navigation {
  position: relative;
  width: 350px;
  height: 70px;
  background: #fff;
  border-radius: 35px;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, .2);
}
.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}
.navigation ul .list {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul .list a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #333;
  font-weight: 500;
}
.navigation ul .list a .icon {
  position: relative;
  display: block;
  line-height: 80px;
  text-align: center;
  transition: all 500ms ease 0ms;
}
.navigation ul .list.active a .icon {
  color: #fff;
}
.navigation ul .list a .icon .fas {
  font-size: 28px;
}
.navigation ul .list a .title {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translate(-50%, 15%);
  width: auto;
  padding: 5px 10px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease 0ms;
}
.navigation ul .list:hover a .title {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 50%);
}
.navigation ul .list a .title::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  bottom: -9px;
  left: 48%;
  transform: rotate(45deg) translateX(-50%);
  border-radius: 2px;
}
.navigation ul .indicator {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  transition: all 500ms ease 0ms;
}
.navigation ul .indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 500ms ease 0ms;
}
.navigation ul .list:nth-child(1).active ~ .indicator {
  transform:translateX(calc(70px * 0))
}
.navigation ul .list:nth-child(2).active ~ .indicator {
  transform:translateX(calc(70px * 1))
}
.navigation ul .list:nth-child(3).active ~ .indicator {
  transform:translateX(calc(70px * 2))
}
.navigation ul .list:nth-child(4).active ~ .indicator {
  transform:translateX(calc(70px * 3))
}
.navigation ul .list:nth-child(5).active ~ .indicator {
  transform:translateX(calc(70px * 4))
}


.navigation ul .list:nth-child(1).active ~ .indicator::before {
  background: #f53b57;
}
.navigation ul .list:nth-child(2).active ~ .indicator::before {
  background: #3c40c6;
}
.navigation ul .list:nth-child(3).active ~ .indicator::before {
  background: #05c46b;
}
.navigation ul .list:nth-child(4).active ~ .indicator::before {
  background: #0fbcf9;
}
.navigation ul .list:nth-child(5).active ~ .indicator::before {
  background: #ffa801;
}